
/* Mise en forme */
body {
    font-family: 'Helvetica Neue', Helvetica;
}

.pickermode  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 720px;
    height: 180px;
}

#display {
    width: 100%;
    height: 100px;
    background: grey;
    transition: background 100ms;
    margin-top: 30px;
    border: 1px solid #000;
}

#gradient {
    width: 100%;
    height: 100px;
    margin-top: 45px;
    border: 1px solid black;
    background: background 100ms;
}

input {
    display: block;
    width: 100%;
}
// Add colors with compass syntax
.R{
    color: $r;
}
.G{
    color: $g;
}
.B{
    color: $b;
}